<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<style>
  .ui-front {
    opacity: 1 !important;
  }
  #table-grade th{
    text-align: center;
    width: 14.28%;
  }
  #table-grade td:hover{
    cursor: pointer;
    background-color: #d1d2d3;
  }
  .th-gray {
    background-color: #d1d2d3;
  }

  .tooltip2 {
    position: relative;
    display: inline-block;
  }

  /* Tooltip text */
  .tooltip2 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip2:hover .tooltiptext {
    visibility: visible;
  }
</style>

<div class="margin-all" style="margin: 30px;">
  <h2>Grade Horária</h2>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">
          Matérias
        </h5>
        <div class="card-body" style="padding: 15px;">
          <% total_credits = 0 %>
          <table class="table">
            <thead>
            <tr>
              <th>
                Nome
              </th>
              <th>
                Créditos
              </th>
            </tr>
            </thead>
            <tbody>
              <% current_user.schedule.subjects.each do |materia| %>
                <tr>
                  <td><%= materia.name %></td>
                  <td><%= materia.credits %></td>
                </tr>
                <% total_credits += (materia.credits[2].to_i + materia.credits[6].to_i) %>
              <% end %>
            </tbody>
          </table>
          <span style="font-size: 14px; margin-bottom: 10px">Total: <%= total_credits %> créditos</span>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8">
      <div class="card">
        <h5 class="card-header">
          Grade Horária
          <span style="float: right"><%= link_to "Limpar Grade <i class='fa fa-trash'></i>".html_safe, clean_user_schedule_path, class: "btn btn-secondary",data: {confirm: "Tem certeza que deseja apagar sua grade?"} %></span>
        </h5>
        <div class="card-body" style="padding: 15px;">
          <table class="table table-bordered" id="table-grade">
            <tr>
              <th class="th-gray">Horários</th>
              <th>Segunda</th>
              <th>Terça</th>
              <th>Quarta</th>
              <th>Quinta</th>
              <th>Sexta</th>
              <th>Sábado</th>
            </tr>
            <tr>
              <th class="th-gray">8:00h</th>
              <% current_user.schedule.time_8.each_with_index do |materia,idx| %>
                <td id="0<%= idx %>" time="8" column="<%= idx %>"><%= materia %></td>
              <% end %>
            </tr>
            <tr>
              <th class="th-gray">10:00h</th>
              <% current_user.schedule.time_10.each_with_index do |materia,idx| %>
                <td id="1<%= idx %>" time="10" column="<%= idx %>"><%= materia %></td>
              <% end %>
            </tr>
            <tr>
              <th class="th-gray">12:00h</th>
              <% current_user.schedule.time_12.each_with_index do |materia,idx| %>
                <td id="2<%= idx %>" time="12" column="<%= idx %>"><%= materia %></td>
              <% end %>
            </tr>
            <tr>
              <th class="th-gray">14:00h</th>
              <% current_user.schedule.time_14.each_with_index do |materia,idx| %>
                <td id="3<%= idx %>" time="14" column="<%= idx %>"><%= materia %></td>
              <% end %>
            </tr>
            <tr>
              <th class="th-gray">16:00h</th>
              <% current_user.schedule.time_16.each_with_index do |materia,idx| %>
                <td id="4<%= idx %>" time="16" column="<%= idx %>"><%= materia %></td>
              <% end %>
            </tr>
            <tr>
              <th class="th-gray">19:00h</th>
              <% current_user.schedule.time_19.each_with_index do |materia,idx| %>
                <td id="5<%= idx %>" time="19" column="<%= idx %>"><%= materia %></td>
              <% end %>
            </tr>
            <tr>
              <th class="th-gray">20:50h</th>
              <% current_user.schedule.time_21.each_with_index do |materia,idx| %>
                <td id="6<%= idx %>" time="21" column="<%= idx %>"><%= materia %></td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <h5 class="card-header">
          Gráficos de Dificuldade do Semestre
        </h5>
        <div class="card-body" style="padding: 15px;">
          <div class="card-body-graph">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <h5 class="card-header">
          Opinião do Chiquinho:
        </h5>
        <div class="card-body">
          <div class="img-lateral">
            <%= image_tag "chiquinho_guru_alt.png",id: "chiquinho_alt" %>
          </div>
          <br>
          <h4 align="center">
            <%= dificuldade_semestre_frase(@grade.get_avg[:trabalhos],@grade.get_avg[:provas],@grade.get_avg[:tarefas],total_credits*0.2) %>
            <% media =  (@grade.get_avg[:trabalhos] + @grade.get_avg[:provas] + @grade.get_avg[:tarefas])/3.0 %>
          </h4>
          <p align="center">Sua média: <%= media + (total_credits*0.2) %></p>
        </div>
      </div>
    </div>
  </div>
  <br>

</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://unpkg.com/tooltip.js"></script>

<script language="JavaScript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    function mascara(t, mask){
        var i = t.value.length;
        var saida = mask.substring(1,0);
        var texto = mask.substring(i)
        if (texto.substring(0,1) != saida){
            t.value += texto.substring(0,1);
        }
    }
</script>

<script>
    var ctx1 = document.getElementById("barChart").getContext('2d');
    var barChart = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ["Trabalhos","Provas","Tarefas"],
            datasets: [{
                label: '',
                data: [
                    <%= @grade.get_avg[:trabalhos]%>,
                    <%= @grade.get_avg[:provas]%>,
                    <%= @grade.get_avg[:tarefas] %>
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        max: 10
                    }
                }]
            }
        }
    });
</script>

<script>
    var url = '<%= subjects_path %>.json';
    var url_schedule = '<%= update_user_schedule_path %>';
    var materias;

    var id_td;
    var column_td;
    var time_td;
    var materia_name;
    $.get(url,function (data) {
        console.log(data);
        materias = data;
    });
    // console.log(materias);
    $("#table-grade").on("click","td",function () {
        console.log(this);
        id_td = $(this).attr("id");
        time_td = $(this).attr("time");
        column_td = $(this).attr("column");
        var self = this;
        swal({
            text: 'Adicione uma Matéria',
            content: {
                element: "input",
                attributes: {
                    placeholder: "Matéria...",
                    id: "materia-search",
                },
            },
            button: {
                text: "Adicionar",
                closeModal: false,
            },
        }).then(name => {
            if (!name){
            //swal("Erro", "Matéria não encontrada", "error");
            swal.stopLoading();
            swal.close();
        } else {
            console.log(name);
            $(self).html($("#materia-search").val());
            swal.stopLoading();
            swal.close();

        }

    })

        materia_name = $("#materia-search").val();
        $("#materia-search").on("keypress",function () {
            var self = this;
            function searchMateria(value){
                return value['name'].toLowerCase().includes($(self).val().toLowerCase());
            }

            var filtrados = materias.filter(searchMateria).map(function (obj) {
                return obj.name;
            });
            console.log($(this).val());
            //console.log(filtrados);
            $("#materia-search").autocomplete({
                source: filtrados
            });
            $(".ui-menu").addClass("ui-front");
        });

    })

    $("#table-grade").bind("DOMSubtreeModified",function(){
        console.log("oiers");
        console.log(time_td);
        console.log(id_td);
        console.log(column_td);
        materia_name = $("#"+id_td).html();
        console.log(materia_name);
        $.ajax({
            type: "POST",
            url: url_schedule,
            headers: {
                'X-Transaction': 'POST Example',
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            data: {
                name: materia_name,
                day: column_td,
                time: time_td,
            }
        });
    });

</script>