<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>#forum</th>
          <th>#curso</th>
          <th>Título</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @forum.topics.each do |topic| %>
            <tr>
              <td><%= topic.id %></td>
              <td><%= topic.forum_id %></td>
              <td><%= topic.forum.course_id %></td>
              <td><%= topic.title %></td>
              <td><%= topic.description %></td>
            </tr>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'Criar novo tópico',new_course_forums_topics_path%>