<style>
  #table-grade th{
    text-align: center;
    width: 14.28%;
  }
  #table-grade td:hover{
    cursor: pointer;
    background-color: #d1d2d3;
  }
  .th-gray {
    background-color: #d1d2d3;
  }
</style>

<div class="margin-all" style="margin: 30px;">
  <h2>Perfil</h2>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">
          Dados de Usuário
        </h5>
        <div class="card-body" style="padding: 15px;">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label "Nome" %>
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "off", class: "form-control",placeholder: "Nome",id: "inlineFormInputGroup" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label "Sobrenome" %>
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "off", class: "form-control",placeholder: "Nome",id: "inlineFormInputGroup" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :matrícula %><br />
              <%= f.text_field :matricula, autofocus: true,placeholder: "Matrícula",onkeypress: "mascara(this, '##/#######')", maxlength:"10",class: "form-control p_input",required: true%>
            </div>
            <div class="form-group">
              <%= f.label :curso %><br />
              <%= f.collection_select :course_id, Course.order(:name),:id,:name,{include_blank: true}, class: "form-control select2" %>
            </div>
            <br>
            <div class="actions">
              <%= f.submit "Atualizar Dados",class: "btn btn-primary btn-lg btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8">
      <div class="card">
        <h5 class="card-header">
          Grade Horária
        </h5>
        <div class="card-body" style="padding: 15px;">
          <table class="table table-bordered" id="table-grade">
            <tr>
              <th class="th-gray">Horários</th>
              <th>Segunda</th>
              <th>Terça</th>
              <th>Quarta</th>
              <th>Quinta</th>
              <th>Sexta</th>
              <th>Sábado</th>
            </tr>
            <tr>
              <th class="th-gray">8:00h</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th class="th-gray">10:00h</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th class="th-gray">12:00h</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th class="th-gray">14:00h</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th class="th-gray">16:00h</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th class="th-gray">19:00h</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th class="th-gray">20:50h</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<script language="JavaScript">

    function mascara(t, mask){
        var i = t.value.length;
        var saida = mask.substring(1,0);
        var texto = mask.substring(i)
        if (texto.substring(0,1) != saida){
            t.value += texto.substring(0,1);
        }
    }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
  var url = '<%= subjects_path %>.json';
  var materias;
  $.get(url,function (data) {
      console.log(data);
      materias = data;
  });
  console.log(materias);
  $("#table-grade").on("click","td",function () {
      console.log(this);
      var self = this;
      swal({
          text: 'Adicione uma Matéria',
          content: {
              element: "input",
              attributes: {
                  placeholder: "Matéria...",
                  id: "materia-search",
              },
          },
          button: {
              text: "Adicionar",
              closeModal: false,
          },
      }).then(name => {
          if (!name){
            //swal("Erro", "Matéria não encontrada", "error");
            swal.stopLoading();
            swal.close();
          } else {
            $(self).html(name);
            swal.stopLoading();
            swal.close();
          }
          //return fetch(`https://itunes.apple.com/search?term=${name}&entity=movie`);

      })
      $("#materia-search").on("keypress",function () {
          var self = this;
          function searchMateria(value){
              console.log("Materia:"+value['name']);
              console.log("Self: "+$(self).val());
              return value['name'].toLowerCase().includes($(self).val().toLowerCase());
          }

          var filtrados = materias.filter(searchMateria);
          console.log($(this).val());
          console.log(filtrados);
      });
  });

</script>