<%= stylesheet_link_tag "topics" %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-heading clearfix">
        <h2 class="panel-title">Forum</h2>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <h6 class="group-title">Filtros</h6>
            <div class="form-row">
              <%=form_tag topics_path, :method => :get  do %>
              <div class="form-group col-md-4">
                <%= label_tag(:course_id, "Curso:") %>
                <%= select_tag :course_id,options_for_select(Course.all.map{|p| [p.name, p.id]}), class: "form-control select2" %>
              </div>
              <div class="form-group col-md-4">
                <%= label_tag(:subject_id, "Matéria:") %>
                <%= select_tag :subject_id,options_for_select(Subject.all.map{|p| [p.name, p.id]}), class: "form-control select2"   %>
              </div>
              <div class="form-group col-md-4">
                <%= label_tag(:professor_id, "Professor:") %>
                <%= select_tag :professor_id,options_for_select(Professor.all.map{|p| [p.name, p.id]}), class: "form-control select2" %>
              </div>


                <div class="actions">
                <%= submit_tag "Filtrar", class: "btn btn-primary" %>
              </div>
              <% end %>
            </div>
            </div>
        <div class="table-responsive">
          <table id="example1" class="table table-bordered table-hover display">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Criado</th>
                <th>Modificado</th>
              </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Titulo</th>
              <th>Criado</th>
              <th>Modificado</th>
            </tr>
            </tfoot>
            <tbody>
              <% @topics.each do |topic| %>
                <tr>
                  <td>
                    <% if topic.deleted %>
                      Tópico removido pelo usuário
                    <% else %>
                      <%= link_to topic.title, topic_path(topic.id) %>
                      <% if !current_user.nil? && topic.user_id == current_user.id %>
                        <a role="button" href="#" class="btn btn-danger" data-toggle="modal" style="float: right;" data-target="<%=".remove-topic-modal-sm-#{topic.id}" %>">
                          <i class='fa fa-times'></i>
                          Remover
                        </a>
                        <div class="<%= "remove-topic-modal-sm-#{topic.id}" %> modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title"> Remover tópico </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Deseja realmente remover este tópico?
                              </div>
                              <div class="modal-footer">
                                <%= button_to 'Confirmar', topic_path(topic), :method => :delete, :class => "btn btn-primary"%>
                                <!-- <button type="button" class="btn btn-primary">Confirmar</button> -->
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </td>
                  <td>Há <%= time_ago_in_words(topic.created_at) %></td>
                  <td>Há <%= time_ago_in_words(topic.updated_at) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-body">
        <%= link_to "Criar novo tópico <i class='fa fa-external-link'></i>".html_safe, new_topic_path,class: "label label-info" %>
      </div>
    </div>
  </div>
</div>



<%#= link_to 'New Course', new_course_path %>

<!-- BEGIN Java Script for this page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/esm/popper.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function(){
        $('#example1').dataTable({
            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ topicos por página",
                "sZeroRecords": "Nenhum registro encontrado - sorry",
                "sInfo": "Mostrando página _PAGE_ de _PAGES_",
                "sInfoEmpty": "Nenhum campo encontrado",
                "sInfoFiltered": "(filtrando de _MAX_ total de campos)",
                "sSearch": "Procurar:",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior"
                }
            }
        });
    });
</script>
