  <div class="card" style="margin-top: 10px;">
    <h5 class="card-header">
      Comentários
    </h5>
    <div class="card-body">
      <div class="comments">
        <% if flash[:error] %>
          <div id='error_explanation'>
            <%= flash[:error] %>
          </div>
        <% end %>
        <% @topic.comments.each do |comment| %> 
          <div class="comentario-header">
            <i class="fa fa-user-circle"></i> <%= comment.user.full_name %>
            <%=link_to course_forum_topic_comment_path(@topic.forum, @topic.forum, @topic, comment), method: :delete,class:'btn btn-danger btn-circle btn-sm', style:'float: right' do %> 
              <i class="fa fa-minus"></i>
            <% end %>
            <%=link_to "#", class:'btn btn-success btn-circle btn-sm', style:'float: right' do %> 
              <i class="fa fa-edit"></i>
            <% end %>
          </div>
          <div class="comentario-body">
            <p><%= comment.content %></p>
          </div>
        <% end %>
      </div>

      <%= form_with model: Comment,url: comments_path,method: :created, local: true, remote: true do |t|%>
        <div class="form-group">
          <%= t.label :Comente_aqui %><br>
          <%= t.text_area :content, class:"form-control"%><br>
          <%= t.number_field :topic_id, class: "form-hidden", value: @topic.id, style: "display: none;" %>
          <%= t.submit "Enviar Comentario", class: "btn btn-primary btn-md" %>
        </div>
      <% end %>
    </div>
  </div>