<%= stylesheet_link_tag "star-rating/star-rating.min" %>
<%= stylesheet_link_tag "star-rating/theme" %>
<%= javascript_include_tag "star-rating/star-rating.min" %>
<%= javascript_include_tag "star-rating/theme" %>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">
        Professor
      </h5>
      <div class="card-body" style="padding: 15px;">
        <div class="teacher-header professor-profile-image" align="center">
          <img src="http://www.cic.unb.br/wp-content/uploads/2015/11/Genaina-150x150.jpg" alt="Genaína" class="image-thumbnail"/>
          <hr>
          <h5><%= @professor.name%></h5>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <h5 class="card-header">
        Dados da Matéria
      </h5>
      <div class="card-body" style="padding: 15px;">
        <table class="table">
          <tr>
            <th>
              Código
            </th>
            <td>
              <%= @subject.code %>
            </td>
          </tr>
          <tr>
            <th>
              Nome
            </th>
            <td>
              <%= @subject.name %>
            </td>
          </tr>
          <tr>
            <th>
              Créditos
            </th>
            <td>
              <%= @subject.credits %>
            </td>
          </tr>
          <tr>
            <th>
              Área
            </th>
            <td>
              <%= @subject.area %>
            </td>
          </tr>
          <tr>
            <th>
              Ranking de Dificuldade
            </th>
            <td>
              #16
            </td>
          </tr>
        </table>
      </div>
      <div class="card-body-graph">
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <h5 class="card-header">
        Sua avaliação
      </h5>
      <% if user_signed_in? %>
        <div class="card-body">
          <div class="form-group">
            <label>Trabalhos</label>
            <% if @rating %>
              <input id="trabalhos-stars" name="input-1-ltr-star-xs" class="fa-theme2 rating-loading" value="<%= (@rating.trabalhos || 2)/2.0 %>" dir="ltr" data-size="xs" data-step="0.5">
            <% else %>
              <input id="trabalhos-stars" name="input-1-ltr-star-xs" class="fa-theme2 rating-loading" value="1" dir="ltr" data-size="xs" data-step="0.5">
            <% end %>
          </div>
          <div class="form-group">
            <label>Provas</label>
            <% if @rating %>
              <input id="provas-stars" name="input-1-ltr-star-xs" class="fa-theme2 rating-loading" value="<%= (@rating.provas || 2)/2.0 %>" dir="ltr" data-size="xs" data-step="0.5">
            <% else %>
              <input id="provas-stars" name="input-1-ltr-star-xs" class="fa-theme2 rating-loading" value="1" dir="ltr" data-size="xs" data-step="0.5">
            <% end %>
          </div>
          <div class="form-group">
            <label>Tarefas</label>
            <% if @rating %>
              <input id="tarefas-stars" name="input-1-ltr-star-xs" class="fa-theme2 rating-loading" value="<%= (@rating.tarefas || 2)/2.0 %>" dir="ltr" data-size="xs" data-step="0.5">
            <% else %>
              <input id="tarefas-stars" name="input-1-ltr-star-xs" class="fa-theme2 rating-loading" value="1" dir="ltr" data-size="xs" data-step="0.5">
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="card-body">
          <p>Autentique-se para avaliar: <a href="<%= new_user_session_path %>">autenticar</a></p>
        </div>
      <% end %>
    </div>
    <br>
    <div class="card">
      <h5 class="card-header">
        Comentários
      </h5>
      <div class="card-body">
        <div class="comments">
          <% @comments.each do |comment| %>
            <div class="comentario-header">
              <i class="fa fa-user-circle"></i> <%= comment.user.full_name %>
              <%= link_to like_path(user_id: current_user.id, comment_id: comment.id), method: "post", style: "float: right;" do %>
                  <%=comment.likes%>
                  <% if comment.user_liked? %>
                    <i class="fa fa-thumbs-up" style="color: #6D92D0;"></i>
                  <% else %>
                    <i class="fa fa-thumbs-up"></i>
                  <% end %>
              <% end %>
            </div>
            <div class="comentario-body">
              <p><%= comment.content %></p>
            </div>
          <% end %>
        </div>

        <%= form_with model: Comment,url: comments_path,method: :created, local: true, remote: true do |t|%>
          <div class="form-group">
            <%= t.label :Comente_aqui %><br>
            <%= t.text_area :content, class:  "form-control"%><br>
            <%= t.number_field :professor_subject_id, class: "form-hidden", value: @professor_subject.id, style: "display: none;" %>
            <%= t.submit "Enviar Comentario", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%javascript_include_tag "comment_ajax" %>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
    jQuery(function ($) {
        $('.fa-theme2').rating({
            theme: 'krajee-fa',
            step: 1,
            starCaptions: {0.5: 'De boassa',1: 'De boa',1.5: 'Bem fácil', 2: 'Fácil',2.5: 'Razoável', 3: 'Ok',3.5: 'Chatinho',4: 'Trabalhoso',4.5: 'Difícil', 5: 'Lamar'},
            starCaptionClasses: {0.5: 'label label-success badge-success',
                1: 'label label-success badge-success',
                1.5: 'label label-primary badge-primary',
                2: 'label label-primary badge-primary',
                2.5: 'label label-info badge-info',
                3: 'label label-info badge-info',
                3.5: 'label label-warning badge-warning',
                4: 'label label-warning badge-warning',
                4.5: 'label label-danger badge-danger',
                5: 'label label-danger badge-danger'}
        });
    });
</script>

<script>
  var url_rating = '<%= update_user_professor_subject_rating_path %>';
  var trabalhos = 5;
  var provas = 5;
  var tarefas = 5;
  var professor_subject_id = '<%= @professor_subject.id %>';
  $("#trabalhos-stars").change(function () {
      console.log(parseInt(($(this).val()*2)));
      trabalhos = parseInt(($(this).val()*2));
      $.ajax({
          type: "POST",
          url: url_rating,
          headers: {
              'X-Transaction': 'POST Example',
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          },
          data: {
              trabalhos: trabalhos,
              professor_subject_id: professor_subject_id,
          }
      });
  });

  $("#provas-stars").change(function () {
      console.log(parseInt(($(this).val()*2)));
      provas = parseInt(($(this).val()*2));
      $.ajax({
          type: "POST",
          url: url_rating,
          headers: {
              'X-Transaction': 'POST Example',
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          },
          data: {
              provas: provas,
              professor_subject_id: professor_subject_id,
          }
      });
  });

  $("#tarefas-stars").change(function () {
      console.log(parseInt(($(this).val()*2)));
      tarefas = parseInt(($(this).val()*2));
      $.ajax({
          type: "POST",
          url: url_rating,
          headers: {
              'X-Transaction': 'POST Example',
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          },
          data: {
              tarefas: tarefas,
              professor_subject_id: professor_subject_id,
          }
      });
  });
</script>
<script>
    // barChart
    var ctx1 = document.getElementById("barChart").getContext('2d');
    var barChart = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ["Trabalhos","Provas","Tarefas"],
            datasets: [{
                label: '',
                data: [
                    <%= ProfessorSubjectUser.where(professor_subject_id: @professor_subject.id).average(:trabalhos).to_f.round(2) %>,
                    <%= ProfessorSubjectUser.where(professor_subject_id: @professor_subject.id).average(:provas).to_f.round(2) %>,
                    <%= ProfessorSubjectUser.where(professor_subject_id: @professor_subject.id).average(:tarefas).to_f.round(2) %>
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        max: 10
                    }
                }]
            }
        }
    });
</script>
