<div class="margin-all" style="margin: 30px;">
  <h2><%= @subject.name %></h2>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <h5 class="card-header">
          Dados da Matéria
        </h5>
        <div class="card-body" style="padding: 15px;">
          <table class="table">
            <tr>
              <th>
                Código
              </th>
              <td>
                <%= @subject.code %>
              </td>
            </tr>
            <tr>
              <th>
                Nome
              </th>
              <td>
                <%= @subject.name %>
              </td>
            </tr>
            <tr>
              <th>
                Créditos
              </th>
              <td>
                <%= @subject.credits %>
              </td>
            </tr>
            <tr>
              <th>
                Área
              </th>
              <td>
                <%= @subject.area %>
              </td>
            </tr>
            <tr>
              <th>
                Ranking de Dificuldade
              </th>
              <td>
                #<%= @subject.id %>
              </td>
            </tr>
            <tr>
              <th>
                Dificuldade Geral
              </th>
              <td>
                <%= @subject.dificuldade_geral %>
              </td>
            </tr>
          </table>
        </div>
        <div class="card-body-graph">
          <canvas id="barChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <h5 class="card-header">
          Professores que Ministram
        </h5>
        <div class="card-body" style="padding: 15px;">
          <div class="row">
            <% @subject.professors.uniq.each do |professor|%>
              <div class="col-md-6">
                <div class="teacher-header">
                  <img src="https://www.shape.com/sites/shape.com/files/styles/channel_masonry/public/emma-watson-video-feature.jpg?itok=6AqfgFae" alt="<%= professor.name %>" class="image-thumbnail"/>
                  <p><%= professor.name%></p>
                </div>
                <div class="card-body-graph">
                  <canvas id="barChart<%= professor.name %>"></canvas>
                </div>
                <%= link_to "<i class='fa fa-star'></i> Avaliar".html_safe, subject_professor_path(@subject.id, professor.id),class: "btn btn-primary btn-sm"%>
                <% professor_subject_id =  ProfessorSubject.where(subject_id: @subject.id).find_by(professor_id: professor).id %>
                <p style="margin-top: 0.5em;"><strong><%=number_with_delimiter(( ProfessorSubjectUser.where(professor_subject_id: professor_subject_id).count), :delimiter => '.')%></strong> avaliações totais</p>
              </div>
            <% end %>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <h5 class="card-header">
          Conteúdos
        </h5>
        <div class="card-body" style="padding: 15px;">
          <table class="table" id="example1">
            <thead>
              <tr>
                <th>
                  Arquivo
                </th>
                <th>
                  Descrição
                </th>
                <th>
                  Baixar
                </th>
              </tr>
            </thead>
            <tbody>
              <% @studyMaterials.each do |studyMaterial| %>
                <tr>
                  <td><%= studyMaterial.name%></td>
                  <td><%= studyMaterial.description %></td>
                  <td><%= link_to "<i class='fa fa-download'></i> Baixar".html_safe, url_for(studyMaterial.file) ,class: "btn btn-success btn-sm btn-rounded", target: :_blank %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-3"></div>
              <div class="col-md-4 m-4">
                <%= link_to "<i class='fa fa-share-alt'></i> Compartilhar material de estudo".html_safe, new_subject_study_material_path(subject_id: @subject.id), class: 'btn btn-md btn-primary' %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="col-md-5">
      <div class="card">
        <h5 class="card-header">
          Comentários
        </h5>
        <div class="card-body">
          <% @comments.each do |comment| %>
            <div class="comentario-header">
              <i class="fa fa-user-circle"></i> <%= comment.user.full_name %>
              <a href="#" style="float: right;">16 <i class="fa fa-thumbs-up"></i></a>
            </div>
            <div class="comentario-body">
              <p><%= comment.content %></p>
            </div>
          <% end %>
        </div>
        <%= form_with model: @comment, local: true do |t|%>
          <div class="form-group">
            <%= t.label :Comente_aqui %><br>
            <%= t.text_area :content, class:  "form-control"%><br>

            <%#= t.hidden_field(:subject_id, @subject.id) %>
            <% #fields_for(:professor_subject, @comment.professor_subject) do |form| %>
              <%= t.number_field :subject_id, class: "form-hidden",value: @subject.id %>
            <% #end %>
            <%= t.submit "Enviar Comentario", class: "btn btn-md" %>
          </div>
        <% end %>
      </div>
    </div>
    -->
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>
    // barChart
    var ctx1 = document.getElementById("barChart").getContext('2d');
    var barChart = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ["Trabalhos","Provas","Tarefas"],
            datasets: [{
                label: '',
                data: [
                    <%= @averages[:trabalhos]%>,
                    <%= @averages[:provas]%>,
                    <%= @averages[:tarefas]%>
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        max: 10
                    }
                }]
            }
        }
    });
    //professors charts
    <% @subject.professors.each do |professor| %>
      <% professor_subject_id =  ProfessorSubject.where(subject_id: @subject.id).find_by(professor_id: professor).id %>
      var ctx1 = document.getElementById("barChart"+'<%= professor.name %>').getContext('2d');
      var barChart = new Chart(ctx1, {
          type: 'bar',
          data: {
              labels: ["Trabalhos","Provas","Tarefas"],
              datasets: [{
                  label: '',
                  data: [
                      <%= ProfessorSubjectUser.get_avg(professor_subject_id,:trabalhos) %>,
                      <%= ProfessorSubjectUser.get_avg(professor_subject_id,:provas) %>,
                      <%= ProfessorSubjectUser.get_avg(professor_subject_id,:tarefas) %>
                  ],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              legend: {
                display: false
              },
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true,
                          max: 10
                      }
                  }]
              }
          }
      });
    <% end %>

</script>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function(){
        $('#example1').dataTable({
            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ por página",
                "sZeroRecords": "Nenhum registro encontrado - sorry",
                "sInfo": "Mostrando página _PAGE_ de _PAGES_",
                "sInfoEmpty": "Nenhum campo encontrado",
                "sInfoFiltered": "(filtrando de _MAX_ total de campos)",
                "sSearch": "Procurar:",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior"
                }
            }
        });
    });
</script>