<style>
  td.details-control {
    background: url('assets/plugins/datatables/img/details_open.png') no-repeat center center;
    cursor: pointer;
  }
  tr.shown td.details-control {
    background: url('assets/plugins/datatables/img/details_close.png') no-repeat center center;
  }
</style>

<p id="notice"><%= notice %></p>

<h1 align="center">Courses</h1>

<div class="card-body">
  <div class="table-responsive">
    <table id="example1" class="table table-bordered table-hover display">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Código</th>
          <th>Curso</th>
          <th>Período</th>
          <th>Classificação</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= course.kind %></td>
            <td><%= course.code %></td>
            <td><%= course.name %></td>
            <td><%= course.turn %></td>
            <td><%= course.classification %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<br>

<%= link_to 'New Course', new_course_path %>

<!-- BEGIN Java Script for this page -->
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script>
    // START CODE FOR BASIC DATA TABLE
    $(document).ready(function() {
        $('#example1').DataTable();
    } );
</script>