<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @course.kind %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @course.turn %>
</p>

<p>
  <strong>Type:</strong>
  <%= @course.type %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
