<%= stylesheet_link_tag "courses" %>

<div class="row">
  <div class="col-md-5">
    <div class="card" style="margin-bottom: 15px;">
      <h5 class="card-header">
        Dados do Curso
      </h5>
      <div class="card-body" style="padding: 15px;">
        <table class="table">
          <tr>
            <th>
              Código
            </th>
            <td>
              <%= @course.code %>
            </td>
          </tr>
          <tr>
            <th>
              Tipo
            </th>
            <td>
              <%= @course.kind %>
            </td>
          </tr>
          <tr>
            <th>
              Nome
            </th>
            <td>
              <%= @course.name %>
            </td>
          </tr>
          <tr>
            <th>
              Turno
            </th>
            <td>
              <%= @course.turn %>
            </td>
          </tr>
            <th>
              Classificação
            </th>
            <td>
              <%= @course.classification.capitalize %>
            </td>
          </tr>
          <tr>
            <th>
              Fóruns
            </th>
            <td>
              <%= link_to 'Forum', course_forums_path(@course),class: "btn btn-primary" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <% if @coordinator != nil %>
    <div class="col-md-7">
      <div class="card">
        <h5 class="card-header">
          Coordenador
        </h5>
        <div class="card-body">
          <h6><%= link_to @coordinator.name, professor_path(@coordinator) %></h6>
          <%= link_to 'Ver Professores do Curso', course_professors_path(@course), class: "btn btn-md btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <!--<a data-toggle="collapse" href="#fluxo-collapse">-->
        <div id="fluxo-header" class="panel-heading clearfix">
          <h2 class="panel-title">
            Fluxo
          </h2>
        </div>
      <!--</a>-->
      <!--<div id="fluxo-collapse" class="panel-collapse collapse show">-->
        <div class="panel-body" id="flow">
          <nav aria-label="Seletor de Semestre">
            <ul class="pagination justify-content-center">
              <% @flow.each_with_index do |semester, index| %>
                <li class="page-item">
                  <a title='<%= index+1 %> Semestre' class="page-link flow-paginator" href="#semester-<%= index+1 %>" data-toggle="collapse">
                    <%= index+1 %> Semestre
                  </a>
                </li>
              <% end %>
            </ul>
          </nav>
          <!-- Flow table -->
          <% @flow.each_with_index do |semester, index| %>
            <div class="table-responsive collapse" data-parent="#flow" id="semester-<%= index+1 %>">
              <table class="table table-bordered table-hover display">
                <thead>
                  <tr>
                    <th class="code-column-width">Código</th>
                    <th class="code-name-width">Nome</th>
                    <th class="code-credits-width">Créditos</th>
                    <th class="code-area-width">Área</th>
                    <th class="code-details-width">Detalhes</th>
                  </tr>
                </thead>
                <% if semester.length >= 8 %>
                  <tfoot>
                    <tr>
                      <th class="code-column-width">Código</th>
                      <th class="code-name-width">Nome</th>
                      <th class="code-credits-width">Créditos</th>
                      <th class="code-area-width">Área</th>
                      <th class="code-details-width">Detalhes</th>
                    </tr>
                  </tfoot>
                <% end %>
                <tbody>
                <% semester.each do |subject| %>
                  <tr>
                    <td class="code-column-width"><%= subject.code %></td>
                    <td class="code-name-width"><%= subject.name %></td>
                    <td class="code-credits-width"><%= subject.credits %></td>
                    <td class="code-area-width"><%= subject.area %></td>
                    <td class="code-details-width"><%= link_to "Detalhes <i class='fa fa-external-link'></i>".html_safe, subject, class:"label label-info" %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      <!--</div>-->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-heading clearfix">
        <h2 class="panel-title">Obrigatórias</h2>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="example1" class="table table-bordered table-hover display">
            <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Créditos</th>
              <th>Área</th>
              <th>Detalhes</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Créditos</th>
              <th>Área</th>
              <th>Detalhes</th>
            </tr>
            </tfoot>
            <tbody>
            <% @obrigatorias.each do |subject| %>
              <tr>
                <td><%= subject.code %></td>
                <td><%= subject.name %></td>
                <td><%= subject.credits %></td>
                <td><%= subject.area %></td>
                <td><%= link_to "Detalhes <i class='fa fa-external-link'></i>".html_safe, subject,class: "label label-info" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-heading clearfix">
        <h2 class="panel-title">Optativas</h2>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="example2" class="table table-bordered table-hover display">
            <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Créditos</th>
              <th>Área</th>
              <th>Detalhes</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Credits</th>
              <th>Area</th>
              <th>Detalhes</th>
            </tr>
            </tfoot>
            <tbody>
            <% @optativas.each do |subject| %>
              <tr>
                <td><%= subject.code %></td>
                <td><%= subject.name %></td>
                <td><%= subject.credits %></td>
                <td><%= subject.area %></td>
                <td><%= link_to "Detalhes <i class='fa fa-external-link'></i>".html_safe, subject,class: "label label-info" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function(){
        $('#example1').dataTable({
            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ matérias por página",
                "sZeroRecords": "Nenhum registro encontrado - sorry",
                "sInfo": "Mostrando página _PAGE_ de _PAGES_",
                "sInfoEmpty": "Nenhum campo encontrado",
                "sInfoFiltered": "(filtrando de _MAX_ total de campos)",
                "sSearch": "Procurar:",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior"
                }
            }
        });
        $('#example2').dataTable({
            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ matérias por página",
                "sZeroRecords": "Nenhum registro encontrado - sorry",
                "sInfo": "Mostrando página _PAGE_ de _PAGES_",
                "sInfoEmpty": "Nenhum campo encontrado",
                "sInfoFiltered": "(filtrando de _MAX_ total de campos)",
                "sSearch": "Procurar:",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior"
                }
            }
        });
        $('.flow-paginator').click(function() {
          let was_active = $(this).hasClass('flow-paginator-active');
          $('.flow-paginator').removeClass('flow-paginator-active');
          if(!was_active){
            $(this).addClass('flow-paginator-active');
          }
        });
    });
</script>

<%= link_to 'Voltar', courses_path,class: "btn btn-primary" %>
