<div class="headerbar">

  <!-- LOGO -->
  <div class="headerbar-left">
    <a href="/" class="logo"><img alt="L" src='<%= image_path "chiquinho.jpg"%>' /> <span style="vertical-align: middle;">Chiquinho</span></a>
  </div>
  <nav class="navbar-custom">
    <% if user_signed_in? %>
      <ul class="list-inline float-right mb-0">
        <li class="list-inline-item dropdown notif">
          <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <i class="fa fa-fw fa-question-circle"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg">
            <!-- item-->
            <div class="dropdown-item noti-title">
              <h5><small>Help and Support</small></h5>
            </div>

            <!-- item-->
            <a target="_blank" href="https://www.pikeadmin.com" class="dropdown-item notify-item">
              <p class="notify-details ml-0">
                <b>Do you want custom development to integrate this theme?</b>
                <span>Contact Us</span>
              </p>
            </a>

            <!-- item-->
            <a target="_blank" href="https://www.pikeadmin.com/pike-admin-pro" class="dropdown-item notify-item">
              <p class="notify-details ml-0">
                <b>Do you want PHP version of the theme that save dozens of hours of work?</b>
                <span>Try Pike Admin PRO</span>
              </p>
            </a>

            <!-- All-->
            <a title="Clcik to visit Pike Admin Website" target="_blank" href="https://www.pikeadmin.com" class="dropdown-item notify-item notify-all">
              <i class="fa fa-link"></i> Visit Pike Admin Website
            </a>

          </div>
        </li>
        <li class="list-inline-item dropdown notif">
          <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <i class="fa fa-fw fa-envelope-o"></i><span class="notif-bullet"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg">
            <!-- item-->
            <div class="dropdown-item noti-title">
              <h5><small><span class="label label-danger pull-xs-right">12</span>Contact Messages</small></h5>
            </div>

            <!-- item-->
            <a href="#" class="dropdown-item notify-item">
              <p class="notify-details ml-0">
                <b>Jokn Doe</b>
                <span>New message received</span>
                <small class="text-muted">2 minutes ago</small>
              </p>
            </a>

            <!-- item-->
            <a href="#" class="dropdown-item notify-item">
              <p class="notify-details ml-0">
                <b>Michael Jackson</b>
                <span>New message received</span>
                <small class="text-muted">15 minutes ago</small>
              </p>
            </a>

            <!-- item-->
            <a href="#" class="dropdown-item notify-item">
              <p class="notify-details ml-0">
                <b>Foxy Johnes</b>
                <span>New message received</span>
                <small class="text-muted">Yesterday, 13:30</small>
              </p>
            </a>

            <!-- All-->
            <a href="#" class="dropdown-item notify-item notify-all">
              View All
            </a>

          </div>
        </li>

        <li class="list-inline-item dropdown notif">
          <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <i class="fa fa-fw fa-bell-o"></i><span class="notif-bullet"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg">
            <!-- item-->
            <div class="dropdown-item noti-title">
              <h5><small><span class="label label-danger pull-xs-right">5</span>Allerts</small></h5>
            </div>

            <!-- item-->
            <a href="#" class="dropdown-item notify-item">
              <div class="notify-icon bg-faded">
                <img src="#" alt="img" class="rounded-circle img-fluid">
              </div>
              <p class="notify-details">
                <b>John Doe</b>
                <span>User registration</span>
                <small class="text-muted">3 minutes ago</small>
              </p>
            </a>


            <!-- All-->
            <a href="#" class="dropdown-item notify-item notify-all">
              View All Allerts
            </a>

          </div>
        </li>

        <li class="list-inline-item dropdown notif">
          <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <img src="https://www.shape.com/sites/shape.com/files/styles/channel_masonry/public/emma-watson-video-feature.jpg?itok=6AqfgFae" alt="" class="avatar-rounded">
          </a>
          <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
            <!-- item-->
            <div class="dropdown-item noti-title">
              <h5 class="text-overflow"><small>Olá, <%= current_user.full_name %></small> </h5>
            </div>

            <!-- item-->
            <a href="#" class="dropdown-item notify-item">
              <i class="fa fa-user"></i> <span>Profile</span>
            </a>

            <!-- item-->
            <%= link_to "<i class='fa fa-power-off'></i> <span>Logout</span>".html_safe,destroy_user_session_path,method: :delete,class: "dropdown-item notify-item"%>

            <!-- item-->
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="list-inline float-right mb-0">
        <li><%= link_to "Entrar", new_user_session_path,class: "btn btn-outline-light",id: "btn-cadastrar" %></li>
      </ul>
    <% end %>
    <ul class="list-inline float-left mb-0">
      <li class="float-left">
        <button class="button-menu-mobile open-left">
          <i class="fa fa-fw fa-bars"></i>
        </button>
      </li>
      <li class="float-left" style="margin-top: 0.6rem;">
        <!-- Search form -->
        <form class="form-inline md-form form-sm">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Procurar Matéria" aria-label="Search" style="border-radius: 20px !important; width: 20rem !important; padding-left: 20px;" id="search-bar">
          <i class="fa fa-search" aria-hidden="true" style="color: white !important;" id="search-bar"></i>
        </form>
      </li>
    </ul>

  </nav>

</div>
<div class="left main-sidebar">

  <div class="sidebar-inner leftscroll">

    <div id="sidebar-menu">

      <ul>

        <li class="submenu">
          <a class="active" href="/"><i class="fa fa-fw fa-bars"></i><span> Dashboard </span> </a>
        </li>

        <li class="submenu">
          <a href="#" id="table-dropdown"><i class="fa fa-fw fa-university  "></i> <span> Cursos </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><a href="<%= courses_path %>">Todos os Cursos</a></li>
            <li><a href="#">Humanas</a></li>
            <li><a href="#">Exatas</a></li>
            <% if user_signed_in? %>
              <li><a href="<%= course_path(current_user.course.id) %>"><%= current_user.course.name.downcase.capitalize %></a></li>
            <% end %>
          </ul>
        </li>

        <li class="submenu">
          <a href="#" id="table-dropdown2"><i class="fa fa-fw fa-book"></i> <span> Matérias </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><a href="#">Todas as Matérias</a></li>
            <li><a href="#">Mais procuradas</a></li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li class="submenu">
            <a href="<%= edit_user_registration_path %>"><i class="fa fa-fw fa-user"></i> <span> Perfil </span></a>
          </li>
          <li class="submenu">
            <a href="<%= user_schedule_path %>"><i class="fa fa-fw fa-calendar"></i> <span> Grade Horária </span></a>
          </li>
        <% end %>
        <!--<li class="submenu">-->
          <!--<a href="charts.html"><i class="fa fa-fw fa-area-chart"></i><span> Charts </span> </a>-->
        <!--</li>-->

        <!--<li class="submenu">-->
          <!--<a href="#" id="table-dropdown3"><i class="fa fa-fw fa-file-text-o"></i> <span> Forms </span> <span class="menu-arrow"></span></a>-->
          <!--<ul class="list-unstyled">-->
            <!--<li><a href="forms-general.html">General Elements</a></li>-->
            <!--<li><a href="forms-select2.html">Select2</a></li>-->
            <!--<li><a href="forms-validation.html">Form Validation</a></li>-->
            <!--<li><a href="forms-text-editor.html">Text Editors</a></li>-->
            <!--<li><a href="forms-upload.html">Multiple File Upload</a></li>-->
            <!--<li><a href="forms-datetime-picker.html">Date and Time Picker</a></li>-->
            <!--<li><a href="forms-color-picker.html">Color Picker</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      </ul>
      <div class="img-side">
        <%= image_tag "chiquinho_guru_alt.png",id: "chiquinho_alt" %>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>